.button{
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: var(--text-default);
    font-family: var(--font-family);
    cursor: pointer;
}
.button:hover{
    color: var(--text-accent);
}
.buttonActive{
    color: var(--text-accent);
}